.button {

  
	padding: 20px 10px;
  
	font-size: 15px;
  
	text-align: center;
  
	cursor: pointer;
  
	outline: none;
  
	color: #fff;
  
	background-color: #2980b9;
  
	border: none;
  
	border-radius: 10px;
  
	box-shadow: 0 2px #999;
  
	min-width: 11%;
  
	min-height: 6%;
  
	margin: 1% 5%;

}


.button:hover {

  
	background-color: darkblue;


}

.button:active {

  
	background-color: darkblue;
  
	box-shadow: 0 2px #666;
  
	transform: translateY(2px);


}