<!DOCTYPE htmal>
<html lang="es">
    <meta charset="utf-8">
    <head>
    <title>Modificar Fórmulas</title>
    {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'estilos/styles_1.css' %}" />
        <link rel="stylesheet" href="{% static 'estilos/button.css' %}" />
        <script src="{% static 'scripts/script_1.js' %}"></script>
    </head>
    
    <body>
        <header></header>
        <menu>
            <ul><a href=""><li>Inicio</li></a></ul>
        </menu>
        <section id="contenedor">
            
            <article id="articulo1">  
            <form name="generar_t" action="{% url 'modificar_formulas:cargar_tabla' %}" method="get">
                    <article id="conten_radio"> 
                            <input name="radio_year" type="radio" value="1" checked> 2014
                            <input name="radio_year" type="radio" value="2"> 2015
                            <input type="submit" value="Generar Tabla" class="button"> 
                    </article>
            </form>
            <form name="formulario" action="{% url 'modificar_formulas:operar' %}" method="get">    
                        <article class="marco_tabla">
                            <table>
                                <thead id="t_encabezado">
                                    <tr style="">
                                        <th>CODIGO</th>
                                        <th>DESRIPCION</th>
                                        <th>COSTO UNITARIO</th>
                                        <th>CANTIDADES UNITARIAS</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% if lista %}
                                    {% for art in lista %}
                                        <tr id = "{{ forloop.counter }}" class="deseleccionada" onclick="seleccionarFila(this, id)">
                                            
                                            <td><input name="chk_tab" type="checkbox" value="{{ forloop.counter }}" class="chk" id ="chk{{ forloop.counter }}">{{ art.codigo}}</td>
                                            <td>{{ art.descripcion }}</td>
                                            <td>{{ art.valor_unitario }}</td>
                                            <td>{{ art.cantidades }}</td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <p>No hay datos para mostrar</p>
                                {% endif %}
                                </tbody>
                            </table>
                        </article><!-- aquí termina, <article id="marco_tabla"> -->        
            </article> <!-- termina, <article id="articulo1">  -->
                
            </section>
            
            <aside id="derecho">
                
                <article id="list_der">
                    <ul id="lista_derecha">
                        <li id="sumatoria_titulo">Fórmulas</li>
                    </ul>
                </article>
                
                <article id="formulas_text">
                    <ul id="formulas_ul">
                        <li><input name="radio_formula" type="radio" value="sum" checked> SUMATORIA</li>
                        <br><br>
                        <li><input name="radio_formula" type="radio" value="prom"> PROMEDIO</li>
                        <br><br>
                        <li><input name="radio_formula" type="radio" value="acu"> ACUMULACION</li>
                    </ul>
                </article>
                
                <article id="art_btn_summit">
                    <input type="submit" value="Enviar" class="button" onclick="probar(this)">
                </article>

                <article id="espacio_resultado"><!-- este article contendrá el resultado esperado por el usuario -->
                    {% if result_op %}
                        {{result_op}}
                    {% else %}
                        Aquí se mostrará el resultado
                    {% endif %}
                </article>
                
            </form>
        </aside>
    </body>
</html>